<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
<body>
  <%- include("../menu"); %>
  <div class="mask rgba-gradient align-items-center" style="padding:0 10%;">
  <div class="createBtn">
    <button type="button" class="btn purple-gradient" onclick="location.href='/api/student/new'"><i class="fas fa-plus mr-1"></i>Create</button>
  </div>
  <div class="row row-cols-1 row-cols-md-4">
    <% result.forEach(student => { %>
      <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title"><%= student.name %></h4>
          <p class="card-text">Age : <%= student.age %></p>
          <p class="card-text">Class : <%= student.cls %></p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-purple btn-md" onclick= "location.href='/api/student/<%=student._id%>'">Detail</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <% }) %>
  </div>
</div>
  <%- include("../footer"); %>
  <style>
    .rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(155, 11, 44, 0.6), rgba(12, 14, 173, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(155, 11, 44, 0.6), rgba(12, 14, 173, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(155, 11, 44, 0.6), rgba(12, 14, 173, 0.69) 100%);
  }
  *{
      box-sizing: border-box;
  }
</style>
</body>
</html>
